[Unit]
Description=Chaturbate Daemon
After=network.target

[Service]
User=myuser
WorkingDirectory=/home/myuser/mydirectory
ExecStart=/usr/bin/env python3 /usr/local/bin/cb-daemon
